# Binaries for programs and plugins
poweradmin_exporter
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`, coverage
*.test
coverage-test.xml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Config files
config
config/*

